<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Melanoma Detector</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>  

  <body style="padding-left:25px">
  	<div align="center">
      <h1>Melanoma Detector</h1>
      <hr style="border-top:1px solid #DCDCDC;border-bottom: 1px solid #ffff;">
      <br>
      <h3 align="left">Please upload skin-image of the person to be diagnosed:</h2><br>
      	<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data"> 
            <div class="form-group">
              <input type="file" class="form-control" align="center" name="skin" aria-describedby="fileHelp" required />
            </div>
            <input type="submit" class="btn btn-primary" value="Upload your image">
      	</form>
    </div>
     <br>
     <hr style="border-top:1px solid #DCDCDC;border-bottom: 1px solid #ffff;">
    <div class="container-fluid" style="width:100%">
      {% with messages = get_flashed_messages()%}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
      {% endwith %} 

      {%block body %} {% endblock %}
    </div>

  </body>
</html>